
<h1 class="title">Thanksgiving Shopping List 2018</h1>

<ul>
  <li>12 pack of cider, and 2 boxes of Franzia (specific request from Aunt Eva)</li>
  <li>stacks on stacks of potatoes</li>
  <li>cranberry sauce, only the best variety</li>
  <li>cranberry jelly...for Jan...</li>
  <li>HRH Turkey, prince of my tummy</li>
  <li>vegetables?????</li>
  <li>they got pies? we get the pies</li>
</ul>

<%= link_to 'Submit Your New Requests Here', new_shoplist_path, class: 'btn btn-primary col-4 offset-1' %>